
<div class='headshot-wrapper'>
  <div class='headshot' style="background-image:url('<%= reps.officials[2].photoUrl %>')"></div>
  <p><%= reps.officials[2].name %></p>
</div>

<div class='headshot-wrapper'>
  <div class='headshot' style="background-image:url('<%= reps.officials[3].photoUrl %>')"></div>
  <p><%= reps.officials[3].name %></p>
</div>

<div class='headshot-wrapper'>
  <div class='headshot' style="background-image:url('<%= reps.officials[4].photoUrl %>')"></div>
  <p><%= reps.officials[4].name %></p>
</div>
